@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

section{
	padding-top:150px;
	width: 100%;
	height: 1000px;
	background-color: #242424;
}

#info{
	width:90%;
	height:800px;
	background-color:   #3c3c3c;
	border:4px solid #c0c0c0;
	border-radius: 2%;
	padding:10px 5px 20px 5px; 
	margin-left: 80px;
}

h1{
	font-size: 40px;
	color:white;
	margin-bottom: 40px;
}

table{
	margin-left:30px;
	width: 800px;
}

tr{
	width: 800px;
	height: 50px;
}
th{
	width: 100px;
	font-weight: bold;
	color :  #d5d5d5;
	font-size: 20px;
}
td{
	width:400px;
	color:#d5d5d5;
	font-size: 18px;
}
a{
	text-decoration: none;
	border:2px solid #d5d5d5;
	color:#d5d5d5;
	font-size: 18px;
	background-color:  #3c3c3c;
	margin-right: 20px;
}
input{
	border:2px solid #d5d5d5;
	color:#d5d5d5;
	background-color:#3c3c3c;
	font-size: 18px;
	cursor: pointer;
}
a:hover{
	background-color: #d5d5d5;
	color:#3c3c3c;
	opacity: 90%;
}
input:hover{
	background-color: #d5d5d5;
	color:#3c3c3c;
	opacity: 90%;
}
