@charset "UTF-8";

*{
   margin:0;
   padding : 0;
}

header{
   background-color: black;
   width:100%;
   height: 130px;
   
}

.mainlist{
   width: 150px;
}
header div{
   display: inline-block;
}


li{
   list-style:none;
   float:left;
}

#menulist:first-child{
   margin-left: 40px;
}
#goMain{
   position: relative;
}
#goMain img{
   width: 200px;
   height: 80px;
   margin-top:25px;
   margin-left: 30px;
   margin-right: 20px;
}
#menu{
   position: absolute;
   margin-top: 52px;
   margin-left:100px;
   width: 700px;
}
#menulist{
   width: 300px;
}
#menulist a{
   margin-right: 20px;
   margin-left: 50px;
   
}
#profile{
   float:right;
   margin-right:130px;
}
#menu a{
   margin:0 auto;   
   text-decoration: none;
   color:white;
   font-size: 24px;
   font-weight: bold;
}
.mainlist:first-child{
position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  text-transform: uppercase;
   
}
.submenu{
   position: absolute;
   display:none;
   left:-25px;
}

#menu:first-child{
   margin-left: 20px;
}

.login a {
   text-decoration:none;
   color:white;
   font-size: 18px;
   font-weight: normal;
}
.adminMenu, .myPage {
   position:relative;
   width: 100px;
   height: 100px;
}
.logout{
   position:absolute;
   border: none;
   color:white;
   height: 40px;
   }
.logout:hover {
   cursor: pointer;
   color:gray;
}

.submenu>li{
   color:white;
   margin-top:2px;
   text-align:center;
   list-style:none;
   width: 200px;
   height: 40px;
   background-color: #c0c0c0;   
   font-weight: bold;
   padding-top:5px; 
   border: none;
   opacity: 95%;
}

.submenu>ul{
   width: 300px;
   margin-left: -50px;
}

.submenu>li:first-child{
   margin-top: 20px;
}
.submenu>li>a {
   line-height: 40px;
   font-size: 18px;
   text-align: center;
   color: white;
}



.submenu>li:hover>a{
   text-decoration: underline;
}

.btn {
    text-align: right; /* 버튼을 페이지 오른쪽으로 정렬합니다. */
    float: right;
}

.btn-hover {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px 0; /* 상하 여백은 원하는대로 설정합니다. */
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.login {
   float: right;
}
.insert {
   float: right;
   margin-right: 20px;
}



